
h3 {
    font-family: 'Poppins', sans-serif;
}

/* Header */
.header {
    margin: auto;
    text-align: center;
    background-color: #1797F3 !important;
    padding-top: 30px;
    border: none;
}

.logo {
    text-align: center;
    margin-bottom: -5px;
}


.footer_main {
    background-color: #54568C;
    padding: 10px 20px;
    color: #fff;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 50px;
    width: 100%;
}

input[type=text], input[type=password] {
    background-color: #d4d5dc !important;
    padding: 5px 20px;
    border-radius: 5px;
}

.form-light input[type=text] {
    background-color: #f3f4f9 !important;
    padding: 5px 20px;
    border-radius: 5px;
}

.side-menu {
    width: 100%;
    padding: 40px 20px
}

.side-menu a {
    color: #333 !important;
    text-decoration: none !important;
}

/*.form-light input[type=radio] {*/
/*    background-color: #f3f4f9 !important;*/
/*    padding: 5px 20px;*/
/*    border-radius: 5px;*/
/*}*/

.ui-radio {
    width: 50%;
}

.ui-radio .ui-btn {
    text-align: center;
}

.ui-controlgroup-controls {
    width: 100%;
}

.menu-icon {
    background-color: unset;
    color: unset;
    text-shadow: none;
    padding: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    position: absolute;
    top: 53%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ui-select > .ui-btn {
    background-color: #d4d5dc !important;
    border-color: #d4d5dc !important;
    color: #53536a !important;
    text-align: left;
}

.ui-input-text {
    padding: 0;
}

.ui-panel-inner {
    padding: 0 !important;
}

.side-menu-info {
    margin: 13% 0 0 0
}

.side-menu-info p {
    margin: 0;
}

.bottom_nav_bar li a {
    background-color: #f3f3f3 !important;
    color: #000000 !important;
    border-color: #f3f3f3 !important;
}

.bottom_nav_bar li .ui-btn-active {
    background-color: #dadada !important;
}

[class^="flaticon-"]:before {
    margin: 0 !important;
    font-size: 25px !important;
    font-weight: 500 !important;
}

.ui-input-search {
    background: #F3F4F9;
    border-radius: 16px;
    width: 75%;
    margin: auto;
}

.card {
    padding: 8px;
    min-width: 170px;
}

.price-color {
    color: #f5a278;
}

.card-price {
    color: #f5a278;
    position: absolute;
    bottom: 10px;
    font-family: 'Poppins', serif;
    font-weight: 800;
    font-size: 20px;
    text-shadow: none;
}

.card-title {
    white-space: break-spaces;
    max-width: 120px;
    font-weight: 200;
    font-family: 'Poppins';
    margin-top: -5px;
}

.order-history {
    padding: 10px;
}

.fa-checked {
    color: orange;
}

.fa-star {
    padding: 5px;
}

.back-box {
    margin: 10px 10px 70px 10px;
    padding: 20px 5px;
    overflow: auto;
    background: #FFFFFF;
    border-radius: 16px;
    transform: rotate(0.2deg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.header-title {
    margin: 10px auto auto;
    width: fit-content;
}

.header-title h3 {
    font-size: 24px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    float: left;
    padding: 13px;
    margin: 0;
}

.header-title img {
    padding: 10px;
}

.ui-content {
    margin-bottom: 80px;
}

.ui-card {
    height: 170px;
    border-radius: 16px !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(0.2deg);
    background-color: #fff;
}

.ui-card > span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.fav-icon-card {
    float: right;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

